body{

	margin: 0;

}

.top_menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;


	max-width: 2000px;
	max-height: 200px;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid black;
}
.homeList{
	display: flex;
	list-style: none; 
	flex-direction: row;
	align-items: center;
	text-align: center;
}
.top_logo{
	width: 75px;
	height: 75px;
	margin: 7px;
	border: 1px solid black;
}
.itemList{
	min-width: 150px;
	max-width: 500px;
	margin-right: 25px;
	border: 1px solid black;
}

